@model List<Interview.Models.Dish>
@{
    ViewData["Title"] = "MenuIndex";
}

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-6" style="margin-top:2rem;">
                <div class="d-flex justify-content-center">
                    <h4>@item.Name</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="@item.ImageUrl" style="width: 70%" />
                </div>
                <div class="d-flex justify-content-center">
                    @item.Price.ToString("N0")元
                </div>
                <div class="d-flex justify-content-center" style="margin-top:2rem;">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">看成份</a>
                </div>
                <div class="d-flex justify-content-center" style="margin-top:2rem;">
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">刪除</button>
                    </form>
                </div>
            </div>
        }
        <div class=" d-flex justify-content-center" style="margin-top:2rem;">
            <a class="btn btn-primary" asp-action="Create">新增菜單</a>
        </div>
    </div>
</div>